* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.568)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

header .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.452);
    /* padding: 12px 0; */
    z-index: 9999999999;
}

header .navbar-brand {
    line-height: 33.6px;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
}

header .nav-link {
    line-height: 24px;
    letter-spacing: 0.4px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px;
    font-size: 19px;
}

header .navbar-nav .nav-item a {
    position: relative;
}
header .navbar-nav .nav-item a::after {
    content: "";
    top: 102%;
    left: 0;
    position: absolute;
    background-color: #fff;
    width: 0%;
    height: 3px;
    transition: all 400ms;
}

header .navbar-nav .nav-item a:hover::after {
    width: 100%;
}

header .navbar-nav .nav-item .active::after {
    width: 100%;
}

header .content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .content h1 {
    font-size: 52px;
    font-weight: 600;
}
header .content h4{
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    color: #fff;
}

header .content h4::after {
    content: " |";
    animation-name: type;
    animation-duration: 8s;
    animation-iteration-count: infinite;

}

@keyframes type {

    0% {
        content: "|";
    }

    2% {
        content: "D|";
    }

    4% {
        content: "DE|";
    }

    6% {
        content: "DES|"
    }

    8% {
        content: "DESI|"
    }

    10% {
        content: "DESN|"
    }

    12% {
        content: "DESNE|"
    }

    14% {
        content: "DESNER|"
    }

    16% {
        content: "DESNER|"
    }

    18% {
        content: "DESNE|"
    }

    20% {
        content: "DESN|"
    }

    22% {
        content: "DES|"
    }

    24% {
        content: "DE|"
    }

    26% {
        content: "D|"
    }

    32% {
        content: "|";
    }

    34% {
        content: "D|";
    }

    36% {
        content: "DE|"
    }

    38% {
        content: "DEV|"
    }

    40% {
        content: "DEVE|"
    }

    42% {
        content: "DEVEL|"
    }

    44% {
        content: "DEVELO|"
    }

    46% {
        content: "DEVELOP|"
    }

    48% {
        content: "DEVELOPE|"
    }

    50% {
        content: "DEVELOPER|"
    }
    52% {
        content: "DEVELOPE|"
    }

    55% {
        content: "DEVELOP|"
    }

    56% {
        content: "DEVELO|"
    }

    58% {
        content: "DEVEL|"
    }
    60%{
        content: "DEVE|"
    }
    62% {
        content: "DEV|"
    }

    64% {
        content: "DE|"
    }

    66% {
        content: "D|"
    }
    68% {
        content: "|"
    }


    70% {
        content: "D|";
    }

    72% {
        content: "DE|";
    }

    74% {
        content: "DES|"
    }

    76% {
        content: "DESI|"
    }

    78% {
        content: "DESN|"
    }

    80% {
        content: "DESNE|"
    }

    82% {
        content: "DESNER|"
    }

    84% {
        content: "DESNER|"
    }

    86% {
        content: "DESNE|"
    }

    88% {
        content: "DESN|"
    }

    90% {
        content: "DES|"
    }

    92% {
        content: "DE|"
    }

    94% {
        content: "D|"
    }

    96% {
        content: "|";
    } 
}


.about {
    background-color: #F5F5F5;
    padding: 64px 48px;
}

.services {
    background-color: #F5F5F5;
    padding: 64px 48px;

}

.about .box-shadow,
.contact .box-shadow {
    padding: 64px 48px;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.about .card {
    border: none;
}

.progress,
.progress-stacked {
    border-radius: 0%;
}

.skills span {
    color:
        #4E4E4E;
}

.skills-progress .progress {
    height: 0.7rem;
    background-color: #0078ff;
}

.about h5 {
    color: #1E1E1E;
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 500;
    margin: 0px 0px 8px;
    position: relative;
}

.about h5::before {
    content: "";
    position: absolute;
    bottom: -12px;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
}

.about .about-p p {
    font-size: 20px;
    color: #4e4e4e;
    line-height: 30px;
    font-weight: 300;
    margin: 0px 0px 16px;
}

.info span {
    color: #1E1E1E;
}

.services .services-title {
    font-size: 48px;
    line-height: 57.6px;
    margin: 0px 0px 8px;
    font-weight: 700;
}

.services .p-service {
    color: #4E4E4E;
    line-height: 24px;
    margin: 0px 0px 16px;
    font-weight: 400;
    position: relative;
}

.services .p-service::before {
    content: "";
    position: absolute;
    bottom: -12px;
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    left: 48%;
    margin: auto;
    text-align: center;
}

.services-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;

}

.services-box .service-icon {
    margin-bottom: 1rem;
    color: #1e1e1e;
}

.icon {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
}

.services-box .icon {
    transition: all 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-box:hover .icon {
    background-color: #0078ff;
    color: #fff;
    box-shadow: 0 0 0 10px #cde1f8;
}

.services-box .icon i {
    line-height: 0;
    font-size: 40px;
}

.service-content h2 {
    font-size: 22.4px;
    color: #1E1E1E;
    margin: 0px 0px 8px;
    font-weight: 500;
    line-height: 26.88px;
}

.service-content p {
    font-weight: 400;
    color: #4E4E4E;
    line-height: 24ox;
    ;
}


.services-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 120, 255, 0.486), rgba(0, 120, 255, 0.568)), url(../images/counters-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}


.services-box-counter .service-icon {
    margin-bottom: 1rem;
    color: #fff;
}

.services-box-counter .service-icon .icon {
    height: 80px;
    width: 80px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #cde1f8;
    display: block;
}

.services-box-counter .service-content .s-title {
    font-weight: 400;
    line-height: 24px;
    font-size: 32px;
}

.work-box {
    background-color: #fff;
    padding-bottom: 2.5rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    overflow: hidden;
}

.work-content .content-title h2 {
    font-size: 19.2px;
    font-weight: 500;
    line-height: 23.04px;
    color: #1E1E1E;
    margin: 10px 8px 8px;
}

.work-content .content2 span {
    font-size: 12.8px;
    font-weight: 400;
    line-height: 19.2px;
    color: #4E4E4E;
    margin: 10px 8px 8px;
}

.work-content .content2 span span {
    color: #0078ff;
}

.work-icon {
    height: 40px;
    width: 40px;
    box-shadow: 0 0 0 2px #0078ff;
    border-radius: 50%;
}

.work-icon i {
    color: #0078ff;
}

.work-image {
    overflow: hidden;
}

.work-image img {
    transition: transform 2s;
}

.work-box:hover img {
    transform: scale(1.5);
}

.work-box-2 .card-body h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 23.04px;
    color: #1E1E1E;
}

.work-box-2 .card-text {
    font-size: 16;
    font-weight: 400;
    line-height: 19.2px;
    color: #4E4E4E;
}

.work-coursel,
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 120, 255, 0.486), rgba(0, 120, 255, 0.568)), url(../images/overlay-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
}

.carousel-item .content span {
    font-size: 22.4px;
    font-weight: 600;
    margin: 20px 0px;
    line-height: 33.6px;
}

.carousel-item .content p {
    font-size: 20px;
    font-weight: 300;
    margin: 0px 0px 16px;
    padding: 0px 208px;
    line-height: 30px;
}



.card-footer a img {
    width: 40px;
    height: 40px;
}

.card-footer span {
    color: #000;
    transition: all 300ms;
}

.card-footer a:hover span {
    color: #0078ff;
}

.card-footer .clock i {
    color: #4E4E4E;
}

.card-body {
    position: relative;
}

.small-card {
    background-color: #0078ff;
    text-align: center;
    color: #fff;
    font-size: 11.2px;
    line-height: 13.44px;
    font-weight: 500;
    border-radius: 5px;
    width: 30%;
    padding: 0.2rem 1rem;
    margin: auto;
    position: absolute;
    top: -16px;
    right: 37%;
}

.small-card h6 {
    margin: auto;

}

.list i {
    color: #0078ff;
}

.list li {
    color: #4e4e4e;
}

.contact .service-icon .icon {
    height: 40px;
    width: 40px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 6px #0078ff;
    display: block;
    color: #000;
}

.social ul li {
    display: inline-block;

}

.social ul li i {
    color: #000;
}

.social ul a {
    text-decoration: none;
}

.social .fa-border {
    border: #0078ff 5px solid;
    padding: 10px;
    margin: 4px;
}

.form input {
    padding: 10px 15px;
}

.form button[type=submit] {
    background: #0078ff;
    border: 0;
    border-radius: 15px;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

.form-control {
    font-size: 14px;
}

.footer {
    text-align: center;
    color: #fff;
    padding: 25px 0;
    background: #0062d3;
}